simuscop/CMakeCache.txt
simuscop/CMakeFiles
simuscop/cmake_install.cmake
simuscop/CMakeLists.txt
simuscop/configFiles
simuscop/docs
simuscop/lib
simuscop/LICENSE
simuscop/Makefile
simuscop/README.md
simuscop/src
simuscop/testData
Mus_musculus.GRCm38.102.chr.CHRid.gff3
Mus_musculus.GRCm38.102.chr.gff3.gz
SPRET_EiJ.mgp.v5.ALL.vcf.gz
SPRET_EiJ.mgp.v5.indels.dbSNP142.normed.vcf.gz
SPRET_EiJ.mgp.v5.snps.dbSNP142.vcf.gz
mm10.10000snp.10000indel.SPRET_EiJ.model.simseq.DIPLOID.genome.fa
